{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #F5F5DC;
        display: block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    div.login-container {
        margin: 50px;
        margin-left: 35%;
    }

    .login-container {
        background-color: white;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="submit"] {
        background-color: #5cb85c;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #4cae4c;
    }

    .footer {
        text-align: center;
        margin-top: 10px;
    }

    /* .forgot-password-container {
        text-align: right;
        margin-top: 10px;
        /* Optional: to add space between the link and the form 
    } */

    body {
        background-color: #F5F5DC
    }

    a,
    a:hover {
        color: #333
    }
</style>

<div class="login-container">
    {% if error_message %}
        {{error_message}}
    {% endif %}
    <h2>Reset Password</h2>
    <form method="POST" action="{% url 'reset' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password">Enter New Password</label>
            <input type="text" name="pass1" placeholder="Enter Password" required>
        </div>
        <div class="form-group">
            <label for="reset_password">Re-Enter New Password</label>
            <input type="password" name="pass2" placeholder="Enter Password" required>
        </div>
        <input type="submit">
    </form>
</div>
{% endblock %}